---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCardList from '../../components/util/organisms/PostCardList.astro'
import Breadcrumb from  "../../components/util/atoms/Breadcrumb.astro"

import { SITE } from "../../config";

import FormattedDate from "../../components/FormattedDate.astro";

import { getBlogs } from "../../library/microcms";
const { contents: posts } = await getBlogs({
  fields: ["id", "title", "publishedAt"],
});

const crumbs = Astro.url.pathname

---

<BaseLayout title={SITE.title} descritpion={SITE.desc} >
  <section class="mx-6 sm:mx-40">
    <Breadcrumb />
    <PostCardList />
  </section>
</BaseLayout>
