---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCardList from '../../components/util/organisms/PostCardList.astro'
import Breadcrumb from  "../../components/util/atoms/Breadcrumb.astro"

import { SITE } from "../../config";

import FormattedDate from "../../components/FormattedDate.astro";

import { getBlogs } from "../../library/microcms";
const { contents: posts } = await getBlogs({
  fields: ["id", "title", "publishedAt"],
});

const crumbs = Astro.url.pathname
---

<BaseLayout title={SITE.title} descritpion={SITE.desc}>
  <section class="mx-10">
    <Breadcrumb />
    <PostCardList />
  </section>
  <style>
    ul {
      list-style-type: none;
      padding: unset;
    }
    ul li {
      display: flex;
    }
    ul li :global(time) {
      flex: 0 0 130px;
      font-style: italic;
      color: #595959;
    }
    ul li a:visited {
      color: #8e32dc;
    }
  </style>
</BaseLayout>
