---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getBlogs } from "../../library/microcms";
import { SITE } from "../../config";
import { map } from "cheerio/lib/api/traversing";
const { contents: posts } = await getBlogs({ fields: ["category"] });
const tags = Array.from(
  posts.reduce((map, currentitem) =>
    map.set(currentitem.category.id, currentitem),
    new Map()
  ).values()
)
---

<BaseLayout title={SITE.title} description={SITE.desc}>
  <main class="mx-10">
    <h2 class="text-2xl font-bold mb-8">タグ一覧</h2>
    <ul class="flex flex-wrap my-0 mx-auto font-bold">
      {
        tags.map( tag => (
          <li class="m-1 rounded-lg py-2 px-4 text-base bg-sky-500 list-none inline-block">
            <a class="text-white no-underline visited:no-underline" href={`/tags/${tag.category.id}`}>{tag.category.name}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
