---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import ProjectCardList from "../components/ProjectCardList.astro";
import Heading2 from "../components/util/atoms/Heading2.astro";
import Introduce from '../components/util/organisms/Introduce.astro'

import BaseLayout from '../layouts/BaseLayout.astro'

import { SITE } from "../config";

import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({
  fields: ["id", "title", "publishedAt"],
});
---

<BaseLayout title={SITE.title} description={SITE.desc}>
  <main class="mx-10">
    <Introduce />
    <Heading2>制作しているもの</Heading2>
    <ProjectCardList />
    <Heading2>最近の記事</Heading2>
    <a class="block w-full text-right font-bold text-gray-500 hover:text-blue-500 transition-all duration-500" href="/blog">記事一覧</a>
    <ProjectCardList />
  </main>
</BaseLayout>

