---
import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({
  fields: ["id", "title", "publishedAt"],
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <time datetime={post.publishedAt}>
              {new Date(post.publishedAt).toLocaleDateString("ja-JP")}
            </time>
            <a href={`/blog/${post.id}`}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
