---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import ProjectCardList from "../components/ProjectCardList.astro";
import Heading2 from "../components/util/atoms/Heading2.astro";
import Introduce from '../components/util/organisms/Introduce.astro'

import BaseLayout from '../layouts/BaseLayout.astro'

import { SITE } from "../config";

import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({
  fields: ["id", "title", "publishedAt"],
});
---

<BaseLayout title={SITE.title} description={SITE.desc}>
  <main class="mx-10">
    <div class="flex flex-row">
      <div class="grid bg-gray-300 w-36 h-36 rounded-full place-content-center">
        <img src="" alt="">
      </div>
      <div class="mb-8 ml-8 w-80">
        <h2 class="text-xl mb-2">Ryosuke Yamashita</h2>
        <p class="text-md leading-relaxed">
          個人的な学習や趣味をまとめたブログです。<br
          />入口に入る準備を淡々と、淡々と。
          <br />
          "引けば老いるぞ億せば死ぬぞ"の境地
          <br />
          とりあえずやってみるタイプ
          <br />
        </p>
        <a href="/about" class="text-blue-600 font-semibold block text-right">About me</a>
      </div>
    </div>
    <Heading2>制作しているもの</Heading2>
    <ProjectCardList />
    <Heading2>最近の記事</Heading2>
    <a class="block w-full text-right font-bold text-gray-500 hover:text-blue-500 transition-all duration-500" href="/blog">記事一覧</a>
    <ProjectCardList />
  </main>
</BaseLayout>

