---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectCardList from "../components/ProjectCardList.astro";

import "../styles/global.scss";

import { SITE } from "../config";

import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({
  fields: ["id", "title", "publishedAt"],
});
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE.title} description={SITE.desc} />
  </head>
  <body>
    <Header title={SITE.title} />
    <main>
      <h2>I'm Ryosuke Yamashita</h2>
      <p>個人的な学習や趣味をまとめたブログです。</p>
      <h2>Projects</h2>
      <ProjectCardList />
      <h2>Latest from blog</h2>
      <ProjectCardList />
    </main>
    <Footer />
  </body>
</html>
