---
import BaseLayout from '../layouts/BaseLayout.astro'
import Breadcrumbs from '../components/util/atoms/Breadcrumb.astro'
---

<BaseLayout title="SUBLIM" desc="トレンドの記事から重要っぽそうな単語を抜き出して学習を進めるアプリ">
  <section class="mx-4 sm:mx-10">
    <Breadcrumbs placeholder="SUBLIM" />
    <h1 class="text-3xl mb-4">SUBLIM -トレンド記事から単語学習を進めるアプリ-</h1>
    <div class="flex items-end flex-col">
      <time class="text-gray-500 font-mono" datetime="2023-05-15T02:08:23.312Z">
        投稿日:{new Date("2023-05-15T02:08:23.312Z").toLocaleDateString("ja-JP")}
      </time>
      <p class="text-gray-500 font-mono">
        最終更新日:<time datetime="2023-05-15T02:08:23.312Z">
          {new Date("2023-05-15T02:08:23.312Z").toLocaleDateString("ja-JP")}
        </time>
      </p>
    </div>
    <div class="w-full flex justify-center"><img src="img/sublim.jpg" alt="SUBLIM" class="rounded-xl shadow-lg sm:max-w-2xl"/></div>
    <hr class="my-4"/>
    <main>
      <h2>このアプリについて</h2>
    </main>
  </section>
</BaseLayout>

