---
const today = new Date();
---

<footer>
  <p>
    &copy; {today.getFullYear()} Ryosuke Yamashita.
  </p>
  <p>All rights reserved.</p>
</footer>
<style lang="scss">
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
