---
import HeaderLink from "./HeaderLink.astro";
---

<div class="openbtn1"><span></span><span></span><span></span></div>
<nav id="g-nav">
  <ul>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/tags">Tags</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </ul>
</nav>
<!-- Content panel -->

<style lang="scss">
  $mq-breakpoints: (
    xl: 1440px,
    lg: 1280px,
    md: 1024px,
    tb: 768px,
    sm: 576px,
    xs: 414px,
  ) !default;

  @mixin mq($breakpoint: md, $rule: min, $subtraction: false) {
    $breakpoint: map-get($mq-breakpoints, $breakpoint);

    @if $rule==max and $subtraction {
      $breakpoint: $breakpoint - 0.0625;
    }

    @media screen and (#{$rule}-width: $breakpoint) {
      @content;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #g-nav {
    position: fixed;
    z-index: 999;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: contrast(4) blur(20px);
    -webkit-backdrop-filter: contrast(4) blur(20px);
    transition: all 0.6s;
  }

  #g-nav.panelactive {
    right: 0;
  }

  #g-nav.panelactive #g-nav-list {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  #g-nav ul {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #g-nav li {
    list-style: none;
    text-align: center;
  }

  #g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  .openbtn1 {
    position: fixed;
    z-index: 9999; /*ボタンを最前面に*/
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  /*×に変化*/
  .openbtn1 span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
  }

  .openbtn1 span:nth-of-type(1) {
    top: 15px;
  }

  .openbtn1 span:nth-of-type(2) {
    top: 23px;
  }

  .openbtn1 span:nth-of-type(3) {
    top: 31px;
  }

  .openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
    background-color: #fff;
  }

  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn1.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
    background-color: #fff;
  }
</style>
<script>
  const btn = document.querySelector(".openbtn1");
  const nav = document.querySelector("#g-nav");
  if (btn && nav) {
    btn.addEventListener("click", () => {
      btn.classList.toggle("active");
      nav.classList.toggle("panelactive");
    });
  }
  const link = document.querySelectorAll("HeaderLink");
  if (link && btn && nav) {
    link.forEach((elm, index) => {
      elm.addEventListener("click", () => {
        btn.classList.remove("active");
        nav.classList.remove("panelactive");
      });
    });
  }
</script>
