---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/noto-sans-jp";

const { title, description } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="mx-4 sm:max-w-4xl md:max-w-6xl sm:mx-auto relative h-max">
    <Header />
      <div id="swaup" class="transition-fade">
        <slot />
      </div>
    <Footer>
  </body>
</html>
<style>
  .transition-fade {
    transition: .4s;
    opacity: 1;
  }

  html.is-animating .transition-fade {
    opacity: 0;
  }
</style>
<script>
  import Swup from 'swup'
  const swup = new Swup({

  })
</script>
